# CORE UI
streamlit
plotly
watchdog

# DATA
pandas
numpy
scikit-learn

# AI & DATABASE (Version Locked)
langchain==0.1.16
langchain-community==0.0.33
langchain-openai==0.1.3
langchain-core==0.1.45
chromadb
python-dotenv
openai
tiktoken
pysqlite3-binary